mixin recipe(details)
    div(class=".max-w-md.mx-auto.bg-white.rounded-xl.shadow-md.overflow-hidden.sm:max-w-2xl")
        div(class="sm:flex")
            div(class="sm:flex-shrink-0")
                img(class="h-48 w-full object-cover sm:w-48" src=details.img alt=details.title)
            div(class="sm:p-0 sm:pl-8 p-8")
                h1(class="uppercase tracking-wide text-sm text-indigo-500 font-semibold") #{details.title}
                h2(class="font-semibold pt-4") Ingredients
                ul(class="list-disc")
                    each  item in details.ingredients
                        li #{item}
                
                h2(class="font-semibold pt-4") Method
                ul(class="list-decimal")
                    each  step in details.method
                        li #{step}
        h1 hello

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet")
    body
        each rec in recipes
            +recipe(rec)